<launch>

    <node pkg="demining_mqp" type="LandmineDetection.py" name="LandmineDetection" />

    <node pkg="demining_mqp" type="Navigation.py" name="Navigation" />

    <node pkg="demining_mqp" type="battery.py" name="LowBatteryProtocol" />

    <include file=" $(find sweep-ros)/launch/sweep2scan.launch.xml">

    </include>

    <include file=" $(find husky_navigation)/launch/move_base.launch"></include>




</launch>