<launch>

    <!--<node pkg="demining_mqp" type="IRCamera.py" name="IRCamera" />

    <node pkg="demining_mqp" type="CompVision.py" name="CompVision" />-->

    <node pkg="demining_mqp" type="IICSem.py" name="IICSem" />

    <node pkg="demining_mqp" type="SensorPlatformController.py" name="SensorPlatController" />

    <node pkg="demining_mqp" type="LandmineDetection.py" name="LandmineDet" />

    <node pkg="demining_mqp" type="Slider.py" name="slider" />

    <node pkg="demining_mqp" type="FourBarControl.py" name="fourbar" />

    <node pkg="demining_mqp" type="SubsystemController.py" name="subsyscontroller" />

</launch>